doctype html
html(lang="is")
    head
        meta(charset="UTF-8")
        title Hvað er í bíó?
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="apple-mobile-web-app-capable" content="yes")

        meta(name="description" content="Hvað er í bíó er fljótlegt yfirlit yfir bíódagskrá kvöldsins á öllu landinu og leyfir þér að ráða tíma, bíóhúsi og lágmarkseinkun.")
        meta(property="og:title" content="Hvað er í bíó?")
        meta(property="og:site_name" content="Hvað er í bíó?")
        meta(property="og:type" content="website")
        meta(property="og:url" content="http://www.hvaderibio.is")
        meta(property="og:image" content="http://www.hvaderibio.is/images/icon-512x512.png")
        meta(property="og:description" content="Hvað er í bíó gefur þér fljótlegt yfirlit yfir bíódagskrá kvöldsins og leyfir þér að ráða tíma, bíóhúsi og lágmarkseinkun.")

        link(rel="apple-touch-icon" sizes="60x60"  href="images/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-156x156.png")
        link(rel="shortcut icon" sizes="16x16" href="images/icon-16x16.png")
        link(rel="shortcut icon" sizes="32x32" href="images/icon-32x32.png")
        link(rel="shortcut icon" sizes="128x128" href="images/icon-128x128.png")
        link(rel="shortcut icon" sizes="196x196" href="images/icon-196x196.png")

        link(rel="stylesheet" href="main.css")

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-20956924-4', 'hvaderibio.is');
            ga('send', 'pageview');
            !function(a){var h,b={kitId:"kkk7ayb",scriptTimeout:3e3},c=a.documentElement,d=setTimeout(function(){c.className=c.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},b.scriptTimeout),e=a.createElement("script"),f=!1,g=a.getElementsByTagName("script")[0];c.className+=" wf-loading",e.src="//use.typekit.net/"+b.kitId+".js",e.async=!0,e.onload=e.onreadystatechange=function(){if(h=this.readyState,!(f||h&&"complete"!=h&&"loaded"!=h)){f=!0,clearTimeout(d);try{Typekit.load(b)}catch(a){}}},g.parentNode.insertBefore(e,g)}(document);

    body
        header
            h1 Hvað er í bíó?
            p.subtitle Þessar myndir eru sýndar í dag, #{movies.date}

        div.filters
            div.filters-wrap
                div.two-col
                    div.input-box.time-range
                        label(for="from-time") Frá
                        div.range-wrap
                            span.range-mark.from= movies.lowestShowtime.human
                            div.range
                                input#from-time(type="range" min=movies.lowestShowtime.number max=movies.highestShowtime.number step="0.25" name="from-time" value=movies.lowestShowtime.number)
                                output(for="from-time")= movies.lowestShowtime.human

                            span.range-mark.to= movies.highestShowtime.human


                    div.input-box.time-range
                        label(for="to-time") Til
                        div.range-wrap
                            span.range-mark.from= movies.lowestShowtime.human
                            div.range
                                input#to-time(type="range" min=movies.lowestShowtime.number max=movies.highestShowtime.number step="0.25" name="to-time" value=movies.highestShowtime.number)
                                output(for="to-time")= movies.highestShowtime.human

                            span.range-mark.to= movies.highestShowtime.human



                div.two-col
                    div.input-box.rating-range
                        label(for="rating-range") Einkunn
                        div.range-wrap
                            span.range-mark.from 0
                            div.range
                                input#rating-range(type="range" min="0" max="10" step="0.1" name="rating-range" value="0")
                                output(for="rating-range") 0

                            span.range-mark.to 10


                    div.input-box.text-filter
                        label(for="text-filter") Heiti
                        input#text-filter(type="text" placeholder="Pulp Fiction")



            div.filters-wrap.place-filter.capital.toggled
                h2: a(href="#") Höfuðborgarsvæðið
                ul
                    each place in movies.capitalPlaces
                        li.toggled= place

            div.filters-wrap.place-filter.rural
                h2: a(href="#") Landsbyggðin
                ul
                    each place in movies.ruralPlaces
                        li= place

        div.movies-wrap
            each movie in movies.titles
                article.movie(data-id=movie.title)
                    header
                        if movie.rating
                            a.rating(href=movie.imdbUrl)
                                =movie.rating
                                span IMDB
                                div.info með #{movie.votes} atkv.
                            h2= movie.title
                                if movie.restriction === '16 ára'
                                    i.warning= movie.restriction
                                if movie.restriction === '12 ára'
                                    i.light-warning= movie.restriction
                                if movie.restriction === '7 ára'
                                    i.light-warning= movie.restriction
                                if movie.restriction === 'Öllum leyfð'
                                    i= movie.restriction
                        else
                            h2.no-rating= movie.title
                                if movie.restriction === '16 ára'
                                    i.warning= movie.restriction
                                if movie.restriction === '12 ára'
                                    i.light-warning= movie.restriction
                                if movie.restriction === '7 ára'
                                    i.light-warning= movie.restriction
                                if movie.restriction === 'Öllum leyfð'
                                    i= movie.restriction
                    a.more(href="#") Sjá meira
                    aside.extra
                        a.fluidbox(href="#")
                            img(src=movie.poster alt="Plakat fyrir #{movie.title}")
                        div.content
                            each place in movie.shows
                                div.showplace(data-place=place.theater)
                                    h3= place.theater
                                    ul
                                        each time in place.times
                                            li(data-time=time.number)= time.human

        footer Hvað er í bíó? er verkefni eftir <a href="http://www.hugihlynsson.com/">Huga Hlynsson</a> með gögnum frá <a href="http://kvikmyndir.is">kvikmyndir.is</a> í gengum <a href="http://docs.apis.is/#endpoint-cinema">{apis.is}</a>.

        script movies = !{JSON.stringify(data)};
        script(src="main.js")