doctype html
html(lang="is")
    head
        meta(charset="UTF-8")
        title Hvað er í bíó?
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="apple-mobile-web-app-capable" content="yes")

        meta(name="description" content="Hvað er í bíó er fljótlegt yfirlit yfir bíódagskrá kvöldsins á öllu landinu og leyfir þér að ráða tíma, bíóhúsi og lágmarkseinkun.")
        meta(property="og:title" content="Hvað er í bíó?")
        meta(property="og:site_name" content="Hvað er í bíó?")
        meta(property="og:type" content="website")
        meta(property="og:url" content="http://www.hvaderibio.is")
        meta(property="og:image" content="http://www.hvaderibio.is/images/icon-512x512.png")
        meta(property="og:description" content="Hvað er í bíó gefur þér fljótlegt yfirlit yfir bíódagskrá kvöldsins og leyfir þér að ráða tíma, bíóhúsi og lágmarkseinkun.")

        meta(http-equiv="refresh" content="3")

        link(rel="apple-touch-icon" sizes="60x60"  href="images/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-156x156.png")
        link(rel="shortcut icon" sizes="16x16" href="images/icon-16x16.png")
        link(rel="shortcut icon" sizes="32x32" href="images/icon-32x32.png")
        link(rel="shortcut icon" sizes="128x128" href="images/icon-128x128.png")
        link(rel="shortcut icon" sizes="196x196" href="images/icon-196x196.png")

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-20956924-4', 'hvaderibio.is');
            ga('send', 'pageview');
            !function(a){var h,b={kitId:"kkk7ayb",scriptTimeout:3e3},c=a.documentElement,d=setTimeout(function(){c.className=c.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},b.scriptTimeout),e=a.createElement("script"),f=!1,g=a.getElementsByTagName("script")[0];c.className+=" wf-loading",e.src="//use.typekit.net/"+b.kitId+".js",e.async=!0,e.onload=e.onreadystatechange=function(){if(h=this.readyState,!(f||h&&"complete"!=h&&"loaded"!=h)){f=!0,clearTimeout(d);try{Typekit.load(b)}catch(a){}}},g.parentNode.insertBefore(e,g)}(document);

        link(rel="stylesheet" href="main.css")
    body
        h1 Hvað er í bíó?
        br
        p.subtitle Úpps – þú lentir í miðri uppfærslu! Bíddu í smá stund...
        br

        footer Verkefni eftir <a href="http://www.hugihlynsson.com/">Huga Hlynsson</a> - <a href="mailto:hugihlynsson@gmail.com">hugihlynsson@gmail.com</a> með gögnum frá <a href="http://kvikmyndir.is">kvikmyndir.is</a> í gegnum <a href="http://docs.apis.is/#endpoint-cinema">{apis.is}</a>.
